
body {
    background-color:  #e3cfe9;
}

.container-fluid {
    background-color: #f53b95;
    color: #f1e2e2;
    padding: 20px;
    margin: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110%;
}

.row {
    background-color: #f8f8f8;
    width: 50vmax;
    margin-left: 50px;
    margin-top: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-md img {
    margin-left: 750px;
    margin-top: -350px;
    width: 450px;
    height: 450px;
}

.logo img {
    width: auto;
    height: 120px;
    margin: -10px;
    margin-top: 2px;
    margin-left: 10px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: block;
    padding: 10px;
    margin-left: 230px;
}


.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    margin-right: 950px;
}

.navbar li {
    margin-right: 20px;
    
}

.navbar a img {
    width: 30px;
    height: auto;
}

.search-profile {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos uniformemente a lo largo del eje principal */
    align-items: center;
}

.search-form {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.search-form input[type="text"] {
    padding: 5px;
    margin-right: -10px; /* Ajusta el margen derecho de la barra de búsqueda si es necesario */
}

.search-form button {
    padding: 5px 10px;
    background-color: #157aff;
    border: none;
    cursor: pointer;
    margin-left: 20px; /* Ajusta el margen derecho del botón si es necesario */
}

/* Estilos para los iconos cuando están activos o en foco */
.navbar a:active svg,
.navbar a:focus svg {
    fill: red; /* Cambia el color del icono a rojo */
}

/* Estilos para los iconos en Styles */
.navbar a svg {
    width: 40px;
    height: auto;
    fill: #5731ff; /* Cambia el color del icono a blanco */
    transition: fill 0.3s ease; /* Agrega una transición para el cambio de color */
}

.navbar a:hover svg {
    fill: #1f008f; /* Cambia el color del icono al pasar el cursor sobre él */
}

/* Media Queries para Responsividad */

/* Pantallas pequeñas (móviles) */
@media (max-width: 576px) {
    .container-fluid {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        width: 102.5%;
    }
    
    .row {
        width: 95%;
        margin-left: 12px;
        margin-top: 10px;
    }
    
    .container-md img {
        margin-left: 8px;
        margin-top: 20px;
        width: 98%;
        height: auto;
    }
    
    .logo img {
        width: 200px;
        margin-bottom: 20px;
        margin-left: 115px;
        margin-top: 20px;
    }
    
    .button {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }
    
    .navbar ul {
        flex-direction: row;
        margin-right: 0px;
    }
    
    .navbar li {
        margin-left: 60px;
        margin-right: 0px;
        margin-bottom: 10px;
    }

}

/* Pantallas medianas (tabletas) */
@media (min-width: 577px) and (max-width: 992px) {
    .container-fluid {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        width: 102.5%;
    }
    
    .row {
        width: 95%;
        margin-left: 12px;
        margin-top: 10px;
    }
    
    .container-md img {
        margin-left: 8px;
        margin-top: 20px;
        width: 98%;
        height: auto;
    }
    
    .logo img {
        width: 100px;
        height: auto;
        margin: 0;
        margin-top: 20px;
        margin-left: 160px;
    }
    
    .button {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }
    
    .navbar ul {
        flex-direction: row;
        margin-right: 0px;
    }
    
    .navbar li {
        margin-left: 60px;
        margin-right: 0px;
        margin-bottom: 10px;
    }
}
