body {
    background-color: #e3cfe9;
}

.container {
    display: flex;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #6200ee;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3700b3;
}
.container-fluid {
    background-color: #f53b95;
    color: #f1e2e2;
    padding: 20px;
    margin: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: auto;
    height: 120px;
    margin: -10px;
    margin-top: 2px;
    margin-left: 60px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile {
    display: flex; /* Make profile container display elements side-by-side */
    align-items: center; /* Vertically align content in the center */
    color: #fff;
  }

  .profile-picture {
    width: 50px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    border-radius: 50%; /* Create the circle for the image */
    background-color: #6d357e;
    margin-left: 20px;
  }
  
.username {
    margin-left: 10px; /* Add space between image and username */
    font-weight: bold; /* Optionally make username bold */
}

.bienvenidos {
    font-family: 'Abril Fatface', serif;
    color: #5d1049; /* Un tono oscuro que complementa el fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.em; /* Aumentar el tamaño del texto */
    /*font-weight: bold; /* Hacer el texto en negrita */
    letter-spacing: 5px;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-top: 66px; /* Ajustar este valor para bajar el texto */
}

.img-fluid {
    display: flex;
    justify-content: center;
    width: auto;
    height: 300px;
    margin: 25px;
}

.img2 {
    position: relative;
    width: auto;
    height: 500px;
    overflow: hidden;
}

.img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #e3cfe9, rgba(227, 207, 233, 0));
    z-index: 1;
}

.img2 .descripcion {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
    /*color: white;*/
    color: #5d1049;
    width: 100%;
    font-family: 'Lora', serif;
}

.descripcion{
    margin-top: -20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

form button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #6200ee;
    color: white;
    transition: background-color 0.3s;
    display: inline-block;
    height: 60px;
}

form button[type="submit"]:hover {
    background-color: #3700b3;
}

@media (max-width: 768px) {
    .container-fluid {
        flex-direction: column; /* Cambia a dirección de columna */
        align-items: center; /* Centra los elementos horizontalmente */
        padding: 18px 0; /* Ajusta el padding para dispositivos móviles */
    }

    .logo {
        margin-bottom: 20px; /* Espacio adicional debajo del logo */
        margin-left: -100px; /* Ajusta el margen izquierdo según sea necesario */
        text-align: center; /* Centra el logo */
    }

    .container {
        flex-direction: column; /* Apila los botones debajo del logo */
        gap: 10px; /* Espacio entre botones */
    }

    button {
        width: 150px; /* Asegura que los botones ocupen el ancho completo */
        height: 60px;
    }

    .profile {
        margin-top: -10px; /* Ajusta el margen superior del perfil */
        text-align: center; /* Centra el texto del perfil */
        margin-left: 35px;
    }

    .img-fluid {
        height: 180px; /* Ajusta la altura de la imagen fluida */
        margin: 0; /* Reinicia los márgenes */
        margin-bottom: 10px; /* Agrega margen inferior */
        margin-top: 25px; /* Ajusta el margen superior según sea necesario */
    }

    .img2 {
        margin-top: 50px; /* Ajusta el margen superior de .img2 */
        position: relative;
        width: auto;
        height: 400px; /* Ajusta la altura de .img2 */
        overflow: hidden;
    }

    .img2 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .descripcion {
        margin-top: 20px; /* Ajusta el margen superior de la descripción */
        text-align: center; /* Centra el texto de la descripción */
        font-size: 16px; /* Ajusta el tamaño de fuente de la descripción */
    }
}
