body {
    background-color: #e3cfe9;
}

.container-fluid {
    background-color: #f53b95;
    color: #f1e2e2;
    padding: 20px;
    margin: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110%;
}

.container-md img {
    margin-left: 950px;
    margin-top: 140px;
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 450px;
    object-fit: cover;
}

.logo img {
    width: auto;
    height: 120px;
    margin: -10px;
    margin-top: 2px;
    margin-left: 10px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: block;
    padding: 10px 300px;
    margin-top: 200px;
}

.form-Cliente {
    background-color: #f8f8f8;
    width: 55vmax;
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-Profesional {
    background-color: #f8f8f8;
    width: 55vmax;
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button1 {
    display: block;
    padding: 10px 130px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    margin-right: 950px;
    padding-left: 0;
}

.navbar li {
    margin-right: 20px;
}

.navbar a img {
    width: 30px;
    height: auto;
}

.search-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.search-form input[type="text"] {
    padding: 5px;
    margin-right: -10px;
}

.search-form button {
    padding: 5px 10px;
    background-color: #157aff;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}

/* Estilos para los iconos cuando están activos o en foco */
.navbar a:active svg,
.navbar a:focus svg {
    fill: red;
}

/* Estilos para los iconos en Styles */
.navbar a svg {
    width: 40px;
    height: auto;
    fill: #5731ff;
    transition: fill 0.3s ease;
}

.navbar a:hover svg {
    fill: #1f008f;
}

/* Consultas de medios para dispositivos móviles */
@media (max-width: 768px) {
    .container-fluid {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    .logo {
        margin-bottom: 20px; /* Agrega espacio debajo del logo */
    }

    .navbar ul {
        margin: 0;
        flex-direction: row; /* Mantiene los iconos en una fila */
        justify-content: center;
    }

    .navbar li {
        margin: 0 10px;
    }

    .navbar a svg {
        width: 30px;
    }

    .search-form {
        margin-right: 0;
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .button {
        padding: 10px 50px;
        margin-top: 50px;
        text-align: center;
    }

    .form-Cliente, .form-Profesional {
        width: 90%;
        margin: 20px auto;
        padding: 20px;
    }

    .button1, .button2 {
        padding: 10px 20px;
        margin-top: 20px;
        text-align: center;
    }

    .container-md img {
        width: 100%;
        height: auto;
        margin: 0;
        position: static;
        margin-top: 20px;
    }
}