body {
    margin: 0;
    background-color: #e3cfe9;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f53b95;
    color: #fd79a8;
    padding: 20px 0;
}

.logo img {
    width: auto;
    height: 120px;
    margin: -10px;
    margin-left: 15px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

.navbar li {
    margin-right: 20px;
}

.navbar a img {
    width: 30px;
    height: auto;
}

.search-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 5px;
    margin-right: -10px;
}

.search-form button {
    padding: 5px 10px;
    background-color: #157aff;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-left: 10px;
}

.navbar a:active svg,
.navbar a:focus svg {
    fill: red;
}

.navbar a svg {
    width: 40px;
    height: auto;
    fill: #5731ff;
    transition: fill 0.3s ease;
}

.navbar a:hover svg {
    fill: #1f008f;
}

#map {
    height: 477px;
    width: 65%;
    margin-top: -67px;
    float: right;
}

#info {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#info table {
    width: 90%;
    border-collapse: collapse;
}

#info th,
#info td {
    border: 1px solid #ddd;
    padding: 8px;
}

#info th {
    background-color: #f2f2f2;
}

#info button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#info #filtros {
    margin-top: 20px;
}

#info #filtros h3 {
    margin-bottom: 10px;
}

#info #filtros label {
    display: block;
    margin-bottom: 5px;
}

#info #precio {
    margin-top: 20px;
}

#info #precio h3 {
    margin-bottom: 10px;
}

#info #precio input[type="text"] {
    width: calc(50% - 12px);
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

#info #precio input[type="text"]:last-child {
    margin-right: 0;
}

button {
    display: block;
    margin-left: 275px;
    padding: 10px 20px;
    background-color: #5933c0;
    color: white;
    border: 1;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

h1 {
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-left: -220px;
}

h2 {
    font-size: 24px;
    color: #020000;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-left: 210px;
}

#domBTN {
    width: 132px;
    margin-top: -40px;
    margin-left: 90px;
}

/* Media Queries para Responsividad */

/* Pantallas pequeñas (móviles) */
@media (max-width: 576px) {
    .container {
        flex-direction: row;
        align-items: center;
        text-align: center;
    }
    
    .navbar ul {
        flex-direction: row;
        justify-content: center;
    }

    .navbar li {
        margin-right: 10px;
    }

    .navbar a img {
        width: 28px;
    }

    .logo img {
        margin-left: 0;
        height: 100px;
    }

    .search-profile {
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
    }

    .search-form {
        flex-direction: row;
        margin-top: 10px;
    }

    .search-form button {
        margin-right: 30px;
        margin-top: 0;
        width: 60%;
    }

    .profile-picture {
        margin-top: 10px;
    }

    #info {
        max-width: 90%;
        margin: 10px;
        margin-left: 30px;
        margin-top: -450px;
        font-size: xx-large;
    }

    #map {
        width: 90%;
        margin-top: 20px;
        margin-left: 48px;
        float: none;
        margin-top: 550px;
    }

    button {
        margin-left: 100px;
        margin-top: -600px;
        font-size: xx-large;
    }

    h1, h2 {
        margin-left: 0;
        text-align: center;
        font-size: xxx-large;
    }

    #domBTN {
        margin-left: 600px;
        margin-top: -65px;
        width: 30%;
        font-size: xx-large;
    }

    .boton {
        width: 20%;
    }    
}

/* Pantallas medianas (tabletas) */
@media (min-width: 577px) and (max-width: 992px) {
    .container {
        flex-direction: row;
        align-items: center;
        text-align: center;
    }
    
    .navbar ul {
        flex-direction: row;
        justify-content: center;
    }

    .navbar li {
        margin-right: 10px;
    }

    .navbar a img {
        width: 28px;
    }

    .logo img {
        margin-left: 0;
        height: 100px;
    }

    .search-profile {
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
    }

    .search-form {
        flex-direction: row;
        margin-top: 10px;
    }

    .search-form button {
        margin-right: 30px;
        margin-top: 0;
        width: 60%;
    }

    .profile-picture {
        margin-top: 10px;
    }

    #info {
        max-width: 90%;
        margin: 10px;
        margin-left: 30px;
        margin-top: -950px;
        font-size: xx-large;
    }

    #map {
        width: 90%;
        margin-left: 48px;
        float: none;
        margin-top: 1000px;
    }

    button {
        margin-left: 100px;
        margin-top: -600px;
        font-size: xx-large;
    }

    h1, h2 {
        margin-left: 0;
        text-align: center;
        font-size: xxx-large;
    }

    #domBTN {
        margin-left: 600px;
        margin-top: -65px;
        width: 25%;
        font-size: xx-large;
    }

    .boton {
        width: 20%;
    }    
}