<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ADMIN</title>
    <link rel="icon" href="/static/Imagenes/esmalte-de-unas.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/admin.css">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lora:wght@400;700&family=Raleway:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="logo">
            <a href="/"><img src="/static/Imagenes/Logo Header.png" alt="Logo"></a>
        </div>
        <div class="profile">
            <h3 style="color: white;">{{ usu.usuario }}</h3>
        </div>
    </div>

    <div class="search-dropdown-container">
        <form action="#" method="GET" class="search-form" onsubmit="return false;">
            <input type="text" id="searchInput" placeholder="Buscar" onkeyup="filterResults()" style="width: 500px; height: 25px; margin-top: 30px;">
        </form>
        <select id="dropdownMenu" class="dropbtn" onchange="filterResults()">
            <option value="Todos">Todos</option>
            <option value="cliente">Clientes</option>
            <option value="profesional">Profesionales</option>
        </select>
    </div>

    <div class="list-container">
        <ul id="profileList">
            {% for perfil in perfiles %}
                <div class="user-container" data-tipo="{{ perfil.tipo }}">
                    <li>
                        {{ perfil.usuario }}
                        <form action="{{ url_for('eliminar_perfil') }}" method="post" style="display:inline;">
                            <input type="hidden" name="usuario" value="{{ perfil.usuario }}">
                            <button type="submit">Eliminar</button>
                        </form>
                    </li>
                </div>
            {% endfor %}
        </ul>
    </div>

    <script>
        function filterResults() {
            var input, filter, dropdown, ul, li, div, i, txtValue, tipo;
            input = document.getElementById('searchInput');
            filter = input.value.toLowerCase();
            dropdown = document.getElementById('dropdownMenu');
            tipo = dropdown.value.toLowerCase();
            ul = document.getElementById('profileList');
            div = ul.getElementsByClassName('user-container');

            for (i = 0; i < div.length; i++) {
                txtValue = div[i].textContent || div[i].innerText;
                if ((tipo === 'todos' || div[i].getAttribute('data-tipo') === tipo) && (txtValue.toLowerCase().indexOf(filter) > -1)) {
                    div[i].style.display = '';
                } else {
                    div[i].style.display = 'none';
                }
            }
        }
    </script>

</body>
</html>
