<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apartado Profesional</title>
    <link rel="stylesheet" href="/static/css/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/Apartado_profesional.css">
</head>
<div class="container">
    <div class="logo">
        <a href="#"><img src="https://images.vexels.com/media/users/3/318103/isolated/lists/a79f69a0d00a7b7a6cda94d68f9c40a0-disea-os-de-embellecimiento-de-ua-as.png" alt="Logo" class="rounded float-start"></a>
    </div>
    <h1>Nails Express</h1>
    <nav>
        <ul>
            <div class = "logo">
            <li><a href="#"><img src="https://images.vexels.com/media/users/3/157563/isolated/lists/5a46848ab4df7b9cbf90d7dd73c4a855-casa-simple-silueta-negra.png" alt="Inicio" class="rounded float-start"></a></li>
            <li><a href="mapa.html"><img src="https://cdn-icons-png.flaticon.com/128/561/561115.png" alt="Mapa"></a></li>
            <li><a href="#"><img src="https://images.vexels.com/media/users/3/137048/isolated/lists/64370a4a1c04a2bade31e1d46376270b-icono-de-trazo-de-persona-de-usuario.png" alt="Perfil" class="rounded float-start"></a></li>
            </div>
        </ul>
    </nav>
    <div class="search-profile">
        <form action="#" method="GET" class="search-form">
            <input type="text" name="search" placeholder="Buscar">
            <button type="submit">Buscar</button>
        </form>
        <p>Usuario Random</p>
        <div class="profile-picture"></div>
    </div>
</div>
</header>
<body>
    <h1>Hola</h1>
</body>
</html>