<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Usuarios</title>
</head>
<body>
    <h1>Lista Usuarios</h1>
    <ul>
        {% for perfil in perfiles %}
            <li>{{ perfil.usuario }}</li>
            <li>{{ perfil.correo }}</li>
        {% endfor %}
    </ul>

    <button id="verMapa">Ver Mapa</button>

    <script>
        // Captura el botón
        var btnVerMapa = document.getElementById('verMapa');

        // Agrega un listener para el clic en el botón
        btnVerMapa.addEventListener('click', function() {
            // Redirige a la página mapa.html
            window.location.href = '/mapa.html';
        });
    </script>

    <button id="inicio">Inicio Sesión</button>

    <script>
        // Captura el botón
        var btnInicio = document.getElementById('inicio');

        // Agrega un listener para el clic en el botón
        btnInicio.addEventListener('click', function() {
            // Redirige a la página inicio.html
            window.location.href = '/inicio.html';
        });
    </script>

    <button id="registro">Registrarse</button>

    <script>
        // Captura el botón
        var btnRegistro = document.getElementById('registro');

        // Agrega un listener para el clic en el botón
        btnRegistro.addEventListener('click', function(){
            // Redirige a la página registro.html
            window.location.href = '/registro.html';
        });
    </script>

</body>
</html>
