<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Usuarios</title>
</head>
<body>
    {% if alerta %}
        <div class="alert alert-warning" role="alert">
            {{ alerta }}
        </div>
    {% endif %}
    <h1>Sesión: {{ nombre_usuario }}</h1>

    <h1>Lista Usuarios</h1>
    <ul>
        {% for perfil in perfiles %}
            <li>{{ perfil.usuario }}</li>
            <li>{{ perfil.correo }}</li>
        {% endfor %}
    </ul>

    <button id="verMapa">Ver Mapa</button>

    <script>
        // Captura el botón
        var btnVerMapa = document.getElementById('verMapa');

        // Agrega un listener para el clic en el botón
        btnVerMapa.addEventListener('click', function() {
            // Redirige a la página mapa.html
            window.location.href = '/mapa.html';
        });
    </script>

    <button id="inicio">Inicio Sesión</button>

    <script>
        // Captura el botón
        var btnInicio = document.getElementById('inicio');

        // Agrega un listener para el clic en el botón
        btnInicio.addEventListener('click', function() {
            // Redirige a la página inicio.html
            window.location.href = '/inicio.html';
        });
    </script>

    <button id="registro">Registrarse</button>

    <script>
        // Captura el botón
        var btnRegistro = document.getElementById('registro');

        // Agrega un listener para el clic en el botón
        btnRegistro.addEventListener('click', function(){
            // Redirige a la página registro.html
            window.location.href = '/registro.html';
        });
    </script>

<button id="Apartado_profesional">Apartado Profesional</button>

    <script>
        // Captura el botón
        var btnApartadoProfesional = document.getElementById('Apartado_profesional');

        // Agrega un listener para el clic en el botón
        btnApartadoProfesional.addEventListener('click', function() {
            // Redirige a la página apar_pro.html
            window.location.href = '/apar_pro';
        });
    </script>

    <button id="Apartado_Cli">Apartado Cliente</button>

    <script>
        // Captura el botón
        var btnApartadoCli = document.getElementById('Apartado_Cli');

        // Agrega un listener para el clic en el botón
        btnApartadoCli.addEventListener('click', function() {

            window.location.href = '/apar_Cli';
        });
    </script>

    <form action="{{ url_for('logout') }}" method="post">
        <button type="submit">Cerrar sesión</button>
    </form>

</body>
</html>
