<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <!-- Ruta al archivo CSS de Bootstrap en tu subcarpeta Bootstrap -->
    <link rel="stylesheet" href="/static/css/Bootstrap/bootstrap.min.css">
    <!-- Ruta a tu archivo CSS personalizado en tu carpeta static -->
    <link rel="stylesheet" href="/static/css/inicio.css">
</head>
<body>
    <div class="container-fluid">     
        <div class="header">
            <div class="logo">
                <img src="https://images.vexels.com/media/users/3/318103/isolated/lists/a79f69a0d00a7b7a6cda94d68f9c40a0-disea-os-de-embellecimiento-de-ua-as.png" class="rounded float-start" alt="Imagen Fondo">
            </div>
            <h1>Nails Express</h1>
            <h3>Lo mejor para tus uñas <3</h3>
        </div>  
    </div>
    <br>
        <form class="row g-3" action="/login" method="POST">
            <div class="col-md-12">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="email">
            </div>
            <div class="col-md-12">
                <label for="inputPassword4" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="inputPassword4" name="password">
            </div>
            <div class="col-12 button">
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                <button type="button" class="btn btn-primary" onclick="window.location.href='registro.html';">Registrarse</button>
            </div>   
        </form>
        <div class="container-md img">
            <div class="col-md-12">
                <img src="https://i.etsystatic.com/11387717/r/il/6ea06a/2413107727/il_1140xN.2413107727_6160.jpg" class="img-fluid" alt="Imagen Fondo">
            </div>
        </div>

    <!-- Ruta al archivo JS de Bootstrap en tu subcarpeta Bootstrap -->
    <script src="/static/js/Bootstrap/bootstrap.min.js"></script>
</body>
</html>
