<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="icon" href="/static/Imagenes/esmalte-de-unas.png" type="image/x-icon">
    <!-- Ruta al archivo CSS de Bootstrap en tu subcarpeta Bootstrap -->
    <link rel="stylesheet" href="/static/css/Bootstrap/bootstrap.min.css">
    <!-- Ruta a tu archivo CSS personalizado en tu carpeta static -->
    <link rel="stylesheet" href="/static/css/inicio.css">
</head>
<body>
    <div class="container-fluid">             
        <div class="logo">
            <a href="/"><img src="/static/Imagenes/Logo Header.png" alt="Logo"></a>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                    <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
                </svg></a></li>
                <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                </svg></a></li>
                <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                </svg></a></li>
            </ul>
        </nav>
        </nav>
    </div>
    <br>
        <form class="row g-3" action="/login" method="POST" onsubmit="return validarFormulario()">
            <div class="col-md-12">
                <label for="inputEmail4" class="form-label"><b>Email:</b></label>
                <input type="email" class="form-control" id="inputEmail4" name="email" required>
            </div>
            <div class="col-md-12">
                <label for="inputPassword4" class="form-label"><b>Contraseña:</b></label>
                <input type="password" class="form-control" id="inputPassword4" name="password" required>
            </div>
            <div class="col-12 button">
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                <button type="button" class="btn btn-primary" onclick="window.location.href='registro';">Registrarse</button>
            </div>   
        </form>
        <div class="container-md img">
            <div class="col-md-12">
                <img src="https://i.etsystatic.com/11387717/r/il/6ea06a/2413107727/il_1140xN.2413107727_6160.jpg" class="img-fluid" alt="Imagen Fondo">
            </div>
        </div>

    <!-- Ruta al archivo JS de Bootstrap en tu subcarpeta Bootstrap -->
    <script src="/static/js/Bootstrap/bootstrap.min.js"></script>
    <script src="/static/js/inicio.js"></script>
</body>
</html>
