<!DOCTYPE html>
<html>
<head>
    <title>Mapa</title>
    <link rel="icon" href="/static/Imagenes/esmalte-de-unas.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="/"><img src="/static/Imagenes/Logo Header.png" alt="Logo"></a>
            </div>
            <nav class="navbar">
                <ul>
                    <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                        <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
                    </svg></a></li>
                    <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                    </svg></a></li>
                    <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg></a></li>
                </ul>
            </nav>
            </nav>
            <div class="search-profile">
                <form action="#" method="GET" class="search-form">
                    <input type="text" name="search" placeholder="Buscar">
                    <button type="submit">Buscar</button>
                </form>
                <h3 style="color: width ;">{{ usu.usuario }}</h3>
            </div>
        </div>
    </header>
    
    <h2>MAPA</h2>
    <div id="map"></div>
    <!-- Importa tu archivo JavaScript -->
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <button onclick="geolocalizar()">-Geolocalizar-</button><button id="domBTN" onclick="solicitarDomicilio()">---Domicilio---</button>
    <!-- Pasa las variables lat y lng como atributos de datos -->
    <div id="data" data-lat="{{ lat }}" data-lng="{{ lng }}" data-lugares="{{ lugares }}" data-usu="{{ usu }}" data-id="{{ id }}"></div>
    <!-- Asegúrate de que el script que define la función initMap se cargue antes que la API de Google Maps -->
    <script async src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap"></script>

    <div id="info">
        <!-- 1. Cuadro de información -->
        <div id="informacion">
            <!-- Aquí se mostrará la información -->
            <table>
                <tr>
                    <th colspan="2">Información</th>
                </tr>
                <tr>
                    <td>Todo Uñas</td>
                    <td>Este Local ....</td>
                </tr>
            </table>
        </div>
        <br>
        <!-- 2. Botón "Ubicar" -->
        <button id="ubicar">Ubicar</button>
        
        <!-- 3. Sección de filtros -->
        <div id="filtros">
            <h3>Filtros:</h3>
            <label><input type="radio" name="filtro" value="unas"> Manos</label>
            <label><input type="radio" name="filtro" value="pies"> Pies</label>
        </div>
        
        <!-- 4. Sección de precios -->
        <div id="precio">
            <h3>Precio:</h3>
            <label for="precioMin"></label>
            <input type="text" id="precioMin" name="precioMin" placeholder="Precio Mínimo">
            <label for="precioMax"></label>
            <input type="text" id="precioMax" name="precioMax" placeholder="Precio Máximo">
        </div>
        <br>
        <button id="Filtrar">Filtrar</button>
    </div>

</body>
</html>