<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/static/css/pantalla_inicio_cli.css">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lora:wght@400;700&family=Raleway:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
    <div class="container-fluid">
        <div class="logo">
            <a href="#"><img src="/static/Imagenes/Logo Header.png" alt="Logo"></a>
        </div>
        <div class="container">
            <button>Ver Mapa</button>
            <div class="profile">
                <h3>Nombre Usuario Cliente</h3>
        </div>
        </div>
    </div>
    <div>
        <h1 class="bienvenidos">Bienvenidos</h1>
        <div class="img-fluid">
            <img src="/static/Imagenes/Logo Header.png" alt="Imagen de la Empresa">
        </div>
        <div class="img2">
            <img src="/static/Imagenes/Nails imagen.jpg" alt="fondo imagen">
            <h2 class="descripcion">
                Nuestro software está diseñado específicamente para localizar y promover 
                negocios de arreglo de uñas. Con nuestra innovadora plataforma, los salones de 
                uñas pueden aumentar su visibilidad y atraer a más clientes, mientras que los 
                usuarios encuentran fácilmente los mejores lugares para el cuidado de sus uñas. 
                ¡Embellece tus uñas y expande tu negocio con nosotros!
            </h2>
        </div>
    </div>
</body>
</html>