<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="icon" href="/static/Imagenes/esmalte-de-unas.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/registro.css">
</head>
<body>
    <div class="container-fluid">     
        <div class="logo">
            <a href="/"><img src="/static/Imagenes/Logo Header.png" alt="Logo"></a>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="inicio.html"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                    <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
                </svg></a></li>
                <li><a href="mapa.html"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                </svg></a></li>
                <li><a href="apar_pro.html"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                </svg></a></li>
            </ul>
        </nav>
    </div>
    <br>
    <div>
        <!-- Botones de selección -->
        <div class="col-12 button" id="botonesSeleccion">
            <button type="button" class="btn btn-primary" onclick="mostrarFormulario('cliente')">Cliente</button>
            <button type="button" class="btn btn-primary" onclick="mostrarFormulario('profesional')">Profesional</button>
            <button type="button" class="btn btn-primary" onclick="window.location.href='inicio';">Iniciar Sesión</button>
        </div>        
        <!-- Formulario de cliente -->
        <form class="row g-3" id="formCliente" style="display: none;" action="/register" method="POST" onsubmit="return validarFormularioCliente()">
            <input type="hidden" name="tipo_usuario" value="cliente">
            <div class="form-Cliente">
                <br>
                <div class="col-md-6">
                    <label for="inputUsuarioCliente" class="form-label"><b>Usuario:</b></label>
                    <input type="text" class="form-control" id="inputUsuarioCliente" name="usuario" required>
                </div>
                <div class="col-md-6">
                    <label for="inputEmailCliente" class="form-label"><b>Email:</b></label>
                    <input type="email" class="form-control" id="inputEmailCliente" name="email" required>
                </div>
                <div class="col-md-6">
                    <label for="inputPasswordCliente" class="form-label"><b>Contraseña:</b></label>
                    <input type="password" class="form-control" id="inputPasswordCliente" name="password" required>
                </div>
                <div class="col-md-6">
                    <label for="inputTelefonoCliente" class="form-label"><b>Teléfono Celular:</b></label>
                    <input type="text" class="form-control" id="inputTelefonoCliente" name="telefono" required>
                </div>
                <br>
                <div class="col-12 button1">
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='registro.html';">Regresar</button>
                </div>
                <br>
            </div>
        </form>
        <!-- Formulario de profesional -->
        <form class="row g-3" id="formProfesional" style="display: none;" action="/register" method="POST" onsubmit="return validarFormularioProfesional()">
            <input type="hidden" name="tipo_usuario" value="profesional">
            <div class="form-Profesional">
                <br>
                <div class="col-md-6">
                    <label for="inputUsuarioProfesional" class="form-label"><b>Usuario:</b></label>
                    <input type="text" class="form-control" id="inputUsuarioProfesional" name="usuario" required>
                </div>
                <div class="col-md-6">
                    <label for="inputEmailProfesional" class="form-label"><b>Email:</b></label>
                    <input type="email" class="form-control" id="inputEmailProfesional" name="email" required>
                </div>
                <div class="col-md-6">
                    <label for="inputPasswordProfesional" class="form-label"><b>Contraseña:</b></label>
                    <input type="password" class="form-control" id="inputPasswordProfesional" name="password" required>
                </div>
                <div class="col-md-6">
                    <label for="inputNombreProfesional" class="form-label"><b>Nombre:</b></label>
                    <input type="text" class="form-control" id="inputNombreProfesional" name="nombre" required>
                </div>
                <div class="col-md-6">
                    <label for="inputNombreLocalProfesional" class="form-label"><b>Nombre Local:</b></label>
                    <input type="text" class="form-control" id="inputNombreLocalProfesional" name="nombre_local" required>
                </div>
                <div class="col-md-8">
                    <label for="inputAddress" class="form-label"><b>Dirección Local:</b></label>
                    <input type="text" class="form-control" id="inputAddress" name="direccion" placeholder="Cra. 13A Sur #5-1" required>
                </div>
                <div class="col-md-6">
                    <label for="inputTelefonoProfesional" class="form-label"><b>Teléfono Celular:</b></label>
                    <input type="text" class="form-control" id="inputTelefonoProfesional" name="telefono_local" required>
                </div>
                <div class="col-md-6">
                    <label for="inputPais" class="form-label"><b>País:</b></label>
                    <input type="text" class="form-control" id="inputPais" name="pais" required>
                </div>
                <div class="col-md-4">
                    <label for="inputState" class="form-label"><b>Departamento:</b></label>
                    <input type="text" class="form-control" id="inputState" name="departamento" required>
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label"><b>Ciudad:</b></label>
                    <input type="text" class="form-control" id="inputCity" name="ciudad" required>
                </div>
                <div class="col-md-2">
                    <label for="inputZip" class="form-label"><b>Cod. Postal:</b></label>
                    <input type="text" class="form-control" id="inputZip" name="cod_postal" required>
                </div>
                <br>
                <div class="col-12 button2">
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='registro.html';">Regresar</button>
                </div>
                <br>
            </div>
        </form>
  
        <div class="container-md img">
            <div class="col-md-12">
                <img src="https://i.etsystatic.com/11387717/r/il/6ea06a/2413107727/il_1140xN.2413107727_6160.jpg" class="img-fluid" alt="Imagen Fondo">
            </div>
        </div>
    </div>
    <script src="/static/js/registro.js"></script>
</body>
</html>

