<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/static/css/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/registro.css">
</head>
<body>
    <div class="container-fluid">     
        <div class="logo">
            <a href="#"><img src="https://i.pinimg.com/originals/7c/4f/a7/7c4fa7784241f73636565627d129bb48.png" alt="Logo"></a>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="inicio.html"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                    <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
                </svg></a></li>
                <li><a href="mapa.html"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                </svg></a></li>
                <li><a href="apar_pro.html"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                </svg></a></li>
            </ul>
        </nav>
        <div class="search-profile">
            <form action="#" method="GET" class="search-form">
                <input type="text" name="search" placeholder="Buscar">
                <button type="button" class="btn btn-primary">Buscar</button>
            </form>
        </div>
    </div>
    <br>
    <div>
        <!-- Botones de selección -->
        <div class="col-12 button" id="botonesSeleccion">
            <button type="button" class="btn btn-primary" onclick="mostrarFormulario('cliente')">Cliente</button>
            <button type="button" class="btn btn-primary" onclick="mostrarFormulario('profesional')">Profesional</button>
            <button type="button" class="btn btn-primary" onclick="window.location.href='inicio.html';">Iniciar Sesión</button>
        </div>        
        <!-- Formulario de cliente -->
        <form class="row g-3" id="formCliente" style="display: none;" action="/register" method="POST">
          <input type="hidden" name="tipo_usuario" value="cliente">
          <div class="form-Cliente">
            <br>
            <div class="col-md-6">
                <label for="inputUsuarioCliente" class="form-label">Usuario</label>
                <input type="text" class="form-control" id="inputUsuarioCliente" name="usuario">
            </div>
            <div class="col-md-6">
                <label for="inputEmailCliente" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmailCliente" name="email">
            </div>
            <div class="col-md-6">
                <label for="inputPasswordCliente" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="inputPasswordCliente" name="password">
            </div>
            <div class="col-md-6">
                <label for="inputTelefonoCliente" class="form-label">Teléfono Celular</label>
                <input type="text" class="form-control" id="inputTelefonoCliente" name="telefono">
            </div>
            <br>
            <div class="col-12 button1">
                <button type="submit" class="btn btn-primary">Registrarse</button>
                <button type="button" class="btn btn-primary" onclick="window.location.href='registro.html';">Regresar</button>
            </div>
            <br>
          </div>       
        </form>
        <!-- Formulario de profesional -->
<form class="row g-3" id="formProfesional" style="display: none;" action="/register" method="POST">
    <input type="hidden" name="tipo_usuario" value="profesional">
    <div class="form-Profesional">
      <br>
      <div class="col-md-6">
          <label for="inputUsuarioProfesional" class="form-label">Usuario</label>
          <input type="text" class="form-control" id="inputUsuarioProfesional" name="usuario">
      </div>
      <div class="col-md-6">
          <label for="inputEmailProfesional" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmailProfesional" name="email">
      </div>
      <div class="col-md-6">
          <label for="inputPasswordProfesional" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="inputPasswordProfesional" name="password">
      </div>
      <div class="col-md-6">
        <label for="inputNombreProfesional" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputNombreProfesional" name="nombre">
      </div>
      <div class="col-md-6">
       <label for="inputNombreLocalProfesional" class="form-label">Nombre Local</label>
       <input type="text" class="form-control" id="inputNombreLocalProfesional" name="nombre_local">
      </div>
      <div class="col-md-8">
        <label for="inputAddress" class="form-label">Dirección Local</label>
        <input type="text" class="form-control" id="inputAddress" name="direccion" placeholder="Cra. 13A Sur #5-1">
      </div>
      <div class="col-md-6">
          <label for="inputTelefonoProfesional" class="form-label">Telefono Celular</label>
          <input type="text" class="form-control" id="inputTelefonoProfesional" name="telefono_local">
      </div>
            <div class="col-md-6">
          <label for="inputPais" class="form-label">País</label>
          <input type="text" class="form-control" id="inputPais" name="pais">
      </div>
      <div class="col-md-4">
          <label for="inputState" class="form-label">Departamento</label>
          <input type="text" class="form-control" id="inputState" name="departamento">
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">Ciudad</label>
        <input type="text" class="form-control" id="inputCity" name="ciudad">
      </div>
      <div class="col-md-2">
          <label for="inputZip" class="form-label">Cod. Postal</label>
          <input type="text" class="form-control" id="inputZip" name="cod_postal">
      </div>
      <br>
      <div class="col-12 button2">
          <button type="submit" class="btn btn-primary">Registrarse</button>
          <button type="button" class="btn btn-primary" onclick="window.location.href='registro.html';">Regresar</button>
      </div>
      <br>
    </div>      
  </form>
  
        <div class="container-md img">
            <div class="col-md-12">
                <img src="https://i.etsystatic.com/11387717/r/il/6ea06a/2413107727/il_1140xN.2413107727_6160.jpg" class="img-fluid" alt="Imagen Fondo">
            </div>
        </div>
    </div>
    <script>
        // Función para mostrar el formulario correspondiente y ocultar los botones de selección
        function mostrarFormulario(tipo) {
            if (tipo === 'cliente') {
                document.getElementById('formCliente').style.display = 'block';
                document.getElementById('formProfesional').style.display = 'none';
            } else if (tipo === 'profesional') {
                document.getElementById('formCliente').style.display = 'none';
                document.getElementById('formProfesional').style.display = 'block';
            }
            document.getElementById('botonesSeleccion').style.display = 'none';
        }
    </script>
</body>
</html>

